@import "tailwindcss";
*{
    padding: 0;
    margin: 0;
}
/* For WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 10px;
    
  }
  
  ::-webkit-scrollbar-track {
    background: #111; /* Black track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #000; /* Black scrollbar */
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #000000; /* Slightly lighter black on hover */
  }
  .toast::after {
    @apply content-[''] absolute left-0 bottom-0 w-full h-[5px] bg-green-500;
    animation: anim 3s linear forwards;
  }

  @keyframes anim {
    from {
      width: 100%;
      
    }
    to {
      width: 0%;
    }
  }
/*  
  @keyframes move {
 
    100% { transform: translateX(-100%); }
  } */